 <div class="mb-3">
    <label for="filterColorText" class="form-label">Renk ara</label>
    <input type="text" [(ngModel)]="filterColorText" class="form-control" id="filterColorText" placeholder="arama ifadesi giriniz">
  </div>
  <div *ngIf="filterColorText.length>2" class="alert alert-success">
    {{filterColorText}} aradınız.
  </div> 
  <button (click)="colorAdd()"  class="btn btn-primary" type="submit">Ekle</button>
<ul class="list-group">
    <li [class]="getAllColorClass()" routerLink="/cars" >Tüm Araçlar</li>
    <li (click)="setCurrentColor(color)" 
    routerLink="/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | filterPipeColor:filterColorText"
    [class]="getCurrentColorClass(color)">{{color.colorName}}
    <!-- Güncelleme Butonu -->
    <button class="btn btn-primary btn-sm" >Güncelle</button>
    <!-- Silme Butonu -->
    <button class="btn btn-danger btn-sm" >Sil</button>
  </li>
</ul>
<h5 *ngIf="currentColor">{{currentColor.colorName}} seçtiniz</h5>


