<div class="mb-3">
  <label for="filterBrandText" class="form-label">Marka ara</label>
  <input type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrandText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterBrandText.length>2" class="alert alert-success">
  {{filterBrandText}} aradınız.
</div>

<button (click)="BrandAdd()"  class="btn btn-primary" type="submit">Ekle</button>

<ul class="list-group">
    <li [class]="getAllBrandClass()" routerLink="/cars" >Tüm Araçlar</li>
    <li (click)="setCurrentBrand(brand)" 
    routerLink="/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands | filterPipeBrand:filterBrandText "
    [class]="getCurrentBrandClass(brand)">{{brand.brandName}}
        <!-- Güncelleme Butonu -->
        <button class="btn btn-primary btn-sm" >Güncelle</button>
        <!-- Silme Butonu -->
        <button class="btn btn-danger btn-sm" >Sil</button>
     
  </li>
  </ul>
  <h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>
 
  
 