<table class="table">
    <thead class="table-info">
      <div class="mb-3">
        <label for="filterBrandText" class="form-label">Marka ara</label>
        <input type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrandText" placeholder="arama ifadesi giriniz">
      </div>
      <div *ngIf="filterBrandText.length>2" class="alert alert-success">
        {{filterBrandText}} aradınız.
      </div>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marka</th>
            <th scope="col">
                <button class="btn btn-success" (click)="brandAdd()">
          Marka Ekle
        </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands | filterPipeBrand:filterBrandText">
            <th scope="row">{{ brand.brandId }}</th>
            <td>{{ brand.brandName }}</td>
            <td>
                <button class="btn btn-warning" click="routerLink" routerLink="update/{{brand.brandId}}">Güncelle</button>
                <button class="btn btn-danger mx-2" click="routerLink" routerLink="delete/{{brand.brandId}}">Sil</button>
            </td>
        </tr>
    </tbody>
  </table>
<!-- <div class="container">
    <h2>Araç Markaları</h2>
    <ul class="list-group">
      <li *ngFor="let brand of brands" class="list-group-item">
        {{brand.brandId}}
        {{ brand.brandName }}
      
      </li>
    </ul>
   -->