<div class="container">
    <header class="header">
      <h1>Hoş Geldiniz Araç Kiralama</h1>
      <p>En iyi araç kiralama deneyimini burada yaşayın.</p>
      <button class="btn btn-primary" routerLink="/cars">Araçlarımızı Görüntüle</button>
    </header>
    
    <!-- <section class="search-section">
      <h2>Araba Ara</h2>
      <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Araç, marka veya model arayın">
      <button class="btn btn-success mt-2" (click)="searchCars()">Ara</button>
    </section> -->
    
    <section class="promo-section">
      <h2>Özel Kampanyalar</h2>
      <div class="promo-cards">
        <div class="promo-card" *ngFor="let promo of promos">
          <img [src]="promo.image" alt="{{ promo.title }}">
          <h3>{{ promo.title }}</h3>
          <p>{{ promo.description }}</p>
        </div>
      </div>
    </section>
  </div>
  