<div class="user-form" *ngIf="dataLoaded; else loading">
  <h2>Kullanıcı Bilgileri</h2>
  <form [formGroup]="userUpdateForm" >

    <div class="form-group">
      <label for="firstName">Ad:</label>
      <input type="text" id="firstName" formControlName="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Soyad:</label>
      <input type="text" id="lastName" formControlName="lastName">
    </div>

    <div class="form-group">
      <label for="email">E-posta:</label>
      <input type="email" id="email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="companyName">Şirket:</label>
      <input type="text" id="companyName" formControlName="companyName">
    </div>


     <button type="submit" (click)="navigateToUpdate()">Bilgileri güncelle</button> 
  </form>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
