 <div class="mb-3">
  <label for="filterText" class="form-label">Araç ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız.
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ selectBrand || 'Markalar' }}
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let brand of brands">
      <a class="dropdown-item" href="#" (click)="updateSelectedBrand(brand)" >{{brand.brandName}}

      </a>
    </li>
  </ul>

  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ selectColor || 'Renkler' }}
  </button>
  <ul class="dropdown-menu" >
    <li *ngFor="let color of colors">
      <a class="dropdown-item" href="#" (click)="updateSelectedColor(color)">{{color.colorName}}
      </a>
    </li>

  </ul>
</div>
  <button (click)="getCarsByBrandAndColor(selectBrand,selectColor)" class="btn btn-primary" type="submit">Filtrele</button>
  <button (click)="clearfilter()" (click)="getCars()" class="btn btn-primary" type="submit">Temizle</button>
  
  




<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <a *ngFor="let car of cars | filterPipe:filterText"
             class="list-group-item"
             [class.active]="car == currentCar"
             (click)="setCurrentCar(car)">
  
            <li><strong>Araba Adı:</strong> {{ car.carName }}</li>
            <li><strong>Model Yılı:</strong> {{ car.modelYear }}</li>
            <li><strong>Günlük Fiyat:</strong> {{ car.dailyPrice }}</li>
  
          </a>
        </div>
      </div>
    <div class="col-md-8">
      <div *ngIf="currentCar; else noCarSelected">
        <h2>{{ currentCar.carName }} Detayları</h2>
        <ul>
          <li><strong>Araba Adı:</strong> {{ currentCar.carName |uppercase }}</li>
          <li><strong>Marka Adı:</strong> {{ currentCar.brandName |uppercase}}</li>
          <li><strong>Araba Renk:</strong> {{ currentCar.colorName|uppercase }}</li>
          <li><strong>Model Yılı:</strong> {{ currentCar.modelYear }}</li>
          <li><strong>Günlük Fiyat:</strong> {{ currentCar.dailyPrice | currency:'TRY':'symbol':'1.2-2' }}</li>

        </ul>
      </div>
      <ng-template #noCarSelected>
        <p>Lütfen bir araç seçin.</p>
      </ng-template>
    </div>
  </div>
</div>
